.ListViewCardBg{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;   
    height: 120px;
    width: 650px;
    background-size: cover;
    border-radius: 20px;
    margin: 15px;
    background-image: url(../Images/card-List-3.svg);
}
#inner-div{
    position: absolute;
    height: 120px;
    width: 200px;
    background-color: red;
    border-radius: 20px 0 0 20px;
}
.user-image-container-list-view{
    height: 80px;
    width: 80px; 
    border-radius: 50%; 
    margin-left: 55px;

}
.user-image-list-view{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

#name-address{
    margin-right:180px;
    padding: 15px;
    text-align: center;
}
#name-address h6{
    margin-top: 0px;
}
#icons-container-list-view{
    margin-right: 20px;

}

@media screen and (max-width: 480px) {
    .ListViewCardBg {
        height: 100px;
        width: 340px;
    }
    #name-address{
        margin-right: 0px;
        text-align: center;
        margin-left: 120px;
    }
   
    #icons-container-list-view{
        margin-right: 2px;
        align-self: flex-end;
    }
    .user-image-container-list-view{
        height: 70px;
        width: 70px; 
        border-radius: 50%; 
        margin-left: 45px; 
        position: absolute;
    }
    .icons{
        color: black;
        margin-left: 4px;
        font-size: 20px;
    }
  }

 /*  random background  start*/
    #ListViewCard1Bg{
        background-image: url(../Images/ListViewImages/img1LV.svg);
    }
    #ListViewCard2Bg{
        background-image: url(../Images/ListViewImages/img2LV.svg);
    }
    #ListViewCard3Bg{
        background-image: url(../Images/ListViewImages/img3LV.svg);
    }
    #ListViewCard4Bg{
        background-image: url(../Images/ListViewImages/img4LV.svg);
    }
    #ListViewCard5Bg{
        background-image: url(../Images/ListViewImages/img5LV.svg);
    }
    #ListViewCard6Bg{
        background-image: url(../Images/ListViewImages/img6LV.svg);
    }
