.App {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .App h1{
    margin-right: 500px;
  }
  .card-items{
    display: grid;
    grid-template-columns: auto auto auto ;  
  }
  .search-bar{
    display: flex;
    flex-direction: row;
  	justify-content: space-between;
    margin: 15px;  
  }
.search-box{
  border: none;
  border-bottom: 2px solid black;
  height: 20px;
  background-color: #D1C1C1;
}
.search-box-button{
  border: none;
  background-color: #D1C1C1;
}

#list-icon{
  margin-left: 370px;
  margin-right: 15px;
}
#sort-icon{
  margin-left: 20px;
}

#form{
  display: flex;
  padding-left: 15px;
  align-self:center;
}

/* #navbar{
  position: fixed;
  top: 0;
  overflow: hidden;
}
.content{
  padding-top: 120px;
} */
@media screen and (max-width: 480px) {
  .card-items {
    display: grid;
    grid-template-columns: auto auto;
  }
  .App h1{
    margin: 20px;
  }
  #list-icon{
    margin-left: 40px;
  }
  
#form{
  display: flex;
  align-self:center;


}

}


/* This css is resposible for fade-in the GridView and ListView components */
.fade-in {
  animation: fadeIn ease 1s;
  -webkit-animation: fadeIn ease 1s;
  -moz-animation: fadeIn ease 1s;
  -o-animation: fadeIn ease 1s;
  -ms-animation: fadeIn ease 1s;
}
@keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
}
}

/* fade-in end */